*/.idea/
.idea/
*.iml

*~
.*.swp
.DS_Store
hs_err_pid*.log

.checkstyle
.pmd
.pmdruleset.xml
interpolated-pom.xml
dependency-reduced-pom.xml

target/
build/

.classpath
.project
.settings
bin/

*.tokens
ruby/.jekyll-cache
